* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #79ac78;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
header a,
h3 {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.3em;
  cursor: pointer;
}
header a:hover {
  color: #618264;
}

header svg:hover {
  animation: shake 1s ease infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px) rotate(5deg);
  }
  20% {
    transform: translateX(10px) rotate(-5deg);
  }
  30% {
    transform: translateX(-10px) rotate(5deg);
  }
  40% {
    transform: translateX(10px) rotate(-5deg);
  }
  50% {
    transform: translateX(-10px) rotate(5deg);
  }
  60% {
    transform: translateX(10px) rotate(-5deg);
  }
  70% {
    transform: translateX(-10px) rotate(5deg);
  }
  80% {
    transform: translateX(10px) rotate(-5deg);
  }
  90% {
    transform: translateX(-10px) rotate(5deg);
  }
  100% {
    transform: translateX(0);
  }
}

main {
  padding: 20px;
}

.special-offers {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #79ac78;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-media div {
  display: flex;
  flex-direction: column;
}
.social-media div:hover a {
  color: #618264;
}
.social-media a {
  text-decoration: none;
  color: #fff;
}
nav ul select {
  outline: none;
  border: 0;
  padding: 5px 3px;
  border-radius: 5px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav-links {
    display: none;
    position: absolute;
  }
}
@media screen and (min-width: 768px) {
  nav ul select {
    display: none;
    position: absolute;
  }
}
@media screen and (max-width: 950px) {
  header a,
h3 {
  font-size: 1em;
}
}